
body {
    background-color:lightgray
}
#layout_container {
    width: 500px;
    margin: 0px auto;
}
form {
    width: 100%;
    min-height: 200px;
    border-radius: 12px;
    box-shadow: 0px 0px 3px lightgray;
    background-color: white;

}

h1 {
    text-align: center;
    font-size: 30px;
}
h2 {
    text-align: center;
    font-size: 15px;
}

.image {
    padding: 2px;

}
.text {
    display: flex;
}
input[type=text] {
    border:2px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 8px;
    flex: 1;
    
}


#mobile_email_id,
#new_password_id {
    flex: 1;
    margin: 8px;
    padding: 10px;
    border-radius: 4px;
    border-color: lightgray;
    border: 2px solid lightgray;
    
}

.birthday {
    display: flex;
    width: 90%;
    
    
}
#month_id {
    border:2px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 8px;
    flex: 1;
    width: 100%;
    
    
}
#day_id {
    border:2px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 8px;
    flex: 1;
    width: 100%;
      
}
#year_id {
    border:2px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 8px;
    flex: 1;
    width: 100%;
}

.gender {
    display: flex;
}
.gender_type {
    border: 2px solid lightgray;
    margin: 8px;
    padding: 9px;
    width: 100%;
    border-radius:  4px; ;
}
h3 {
    margin: 4px;
    font-size: 15px;
}
p {
    text-align: center;
    margin: 4px;
}
input[type=submit] {
    background: rgb(20, 211, 20);
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    width: 200px;
    font-size: 20px;
    
}
.sign {
    justify-content: center;
    display: flex;
}

#first_name_id:focus-visible {
    outline: 0;

    
}
#first_name_id:invalid {
    background-color: lightcoral

}
#last_name_id:focus-visible {
    outline: 0;

    
}
#last_name_id:invalid {
    background-color: lightcoral

}
#mobile_email_id:focus-visible {
    outline: 0;
}

#mobile_email_id:invalid {
    background-color: lightcoral;
}

#new_password_id:focus-visible {
    outline: 0;
}
#new_password_id:invalid {
    background-color: lightcoral;
}
input:not(:focus):not(:placeholder-shown):invalid {
    
 }



